/* @override 
	http://localhost:3000/stylesheets/style.css?1311506427
	http://localhost:3000/stylesheets/style.css?1311506480
*/

body {
	background: #f1f1f1 url(../images/background-texture-08.gif);
}

.container {
	width: 710px;
	background: transparent;
	margin-top: 50px;
}
#wrapper .container {
	width: 640px;
	background: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	padding-bottom: 30px;
	border:1px solid #ccc;
	border-bottom: none
}

#secondary .container {
	margin-top: 0;
	background: #557bad;
	width: 640px;
	padding: 15px 30px;
	margin-bottom: 100px;
	border:1px solid #ccc;
	border-top: none;  
}

#secondary h2 {
	float: left;
	color: #fff;
	margin-bottom: 0;
	font-size: 20px;
}

#secondary .buttonblock {
	margin-top:5px; 
	float: left; 
	margin-left: 72px;
	width: 280px;
}

#secondary .button:hover {
	-moz-box-shadow: 0px 2px 4px #333;
	-webkit-box-shadow: 0px 2px 4px #333;
	box-shadow: 0px 2px 4px #333;
}

#secondary a.twitter {
	float: left; 
	background: url(../images/signin_twitter.png) no-repeat;
	display: block;
	text-indent: -9999px;
	width: 150px;
	height: 24px;
}

#secondary a.twitter:hover {
	background-position: 0px -24px;
}

#secondary a.twitter:active {
	background-position: 0px -48px;
}

#wrapper h2 {
	font-size: 30px;
	font-weight: bolder;
	margin: 20px 0;
	margin-bottom: 10px;
}

a#logo {
	display: block;
	background: transparent url(../images/logo.png) no-repeat bottom left;
	text-indent: -9999px;
	height: 80px;
	margin-left: 5px;
}

#wrapper p.tagline {
	margin-top: 10px;
	font-size:22px;
	color: #555;
	margin-bottom: 10px;

}

#wrapper p {
	font-size:16px;
	color: #555;
}



#wrapper a {
	font-size: 18px;
	color: #557BAD;
}

#wrapper p.tagline input {
	width: 300px;
	height: 20px;
	margin-left: 10px;
	font-size: 20px;
	padding: 5px 0;
	border: 1px solid #ccc;
	color: #666;
}

.buttonblock {
	float: right;
}


.button {
background: #f1f1f1;
border: 1px solid #dedede;
width: 100px;
font: 18px arial,sans-serif;
color: #666;
font-weight: bolder;
cursor: pointer;
padding:0;
height: 30px;
margin: 0;
outline: 0;
}

a.button {
	text-decoration: none; 
	padding: 5px 15px;
}

.button:hover {
	border: 1px solid #ccc;
	background: #f6f6f6;
	color: #333;
	-moz-box-shadow: 0px 2px 4px #ccc;
	-webkit-box-shadow: 0px 2px 4px #ccc;
	box-shadow: 0px 2px 4px #ccc;
}
.inline{
width: 150px;
display: inline-block; 
float: right;
}

.button:active {
background: #ccc;
}

/* Event Listing */
ul#events {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#events li {
	height: 85px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}

ul#events span.venue {
	color: #666;
}

ul#events span.attendees img{
	margin-top: 8px;
}

a.button2 {
	float: right;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fff !important;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}


.published {
	display:block; 
	margin-right: 20px;
	text-align: center;
	float:left; 
	font-family: Arial, Helvetica, sans-serif;
	border-bottom:none;
	background:url(../images/clip-bottom.png) 
		right bottom no-repeat;
	width:2.2em;
}
.pub-month {
	display:block;
	font-size: .9em;
	line-height: 1em;
	margin:0; 
	padding:0;
	padding-top:18px;
	background:url(../images/clip-top.png) 
		center top repeat-x;
}
.pub-date { 
	display:block; 
	font-size:1.5em;
	margin:0; 
	padding:0;
}

#wrapper .container form#new_event {
	margin-top: 30px;
}

#wrapper .container form#new_event p label {
	width: 150px;
	float: left;
	font-size: 22px;
	color: #666;
	margin-top: 10px;
}

#wrapper .container form#new_event p input {
	width: 300px;
	height: 30px;
	margin: 0;
	font-size: 25px;
	padding: 5px 0;
	border: 1px solid #666;
	color: #666;
}

#wrapper .container form#new_event p textarea {
	height: 70px;
	font-size: 25px;
	margin: 0;
}

#wrapper .container form#new_event span.inline {
	float: left;
	margin-left: 150px;
}

#wrapper .container form#new_event p input.button {
	width: 148px;
	border:none;
	font: 19px arial,sans-serif;
	margin: 0;
	outline: 0;
	border: 0;
	margin-top: -5px;
}

#wrapper .container h3 {
	font-size: 22px;
	color: #3333;
	margin-bottom: 17px;
	font-weight: bold;
}

a.button2.big {
	margin-top: 40px;
	font-size: 40px !important;
	padding: 29px 5px;
	width: 250px;
	height: 44px;
}

