<h2><%= @event.starts_at %></h2>
<p><%= @event.description %></p>
<div class="span-10">
  <h3>Who&rsquo;s coming?</h3>
  <% if @event.attendees.any? %>
    <% for attendent in @event.attendees %>
      <span class="attendees"><%= attendent.user.name %></span>
      <% end %>
  <% end %>
</div>
<div class="span-6">
  <%= link_to "I'm joining!", event_attend_path( @event ), :class=>"button2 big"%>
</div>