<%= @event.starts_at %>

<%= link_to "Attend", event_attend_path( @event )%>

<% if @event.attendees.any? %>
<ul>
<% for attendent in @event.attendees %>
<li><%= image_tag "http://api.twitter.com/1/users/profile_image/#{attendent.user.nickname}.json?size=bigger" %> <%= attendent.user.name %></li>
<% end %>
</ul>
<% end %>