<!DOCTYPE html>
<html>
<head>
  <title>Kowoko</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <a id="logo" href="/">Kowoko</a>
  </div>
  <div id="wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
